/* 
 * Cores
 * https://coolors.co/9c914f-748e54-202c39-80302a-283845 
 *
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body {
    background-color: #d3aa51dc;
    font-family : 'Roboto', sans-serif;
    color : #283845;
}

a {
    text-decoration : none;
    color : #202C39;
    margin : 1rem;
}

nav {
    text-align : right;
    font-size : 20px;
}

#cardapio > .title {
    float : left;
    width : 100%;
}

.container {
    margin : 0 auto;
    max-width : 920px;
}

.row {
    margin : 0 auto;
    width : fit-content;
    clear: both;
}

.row .card {
    display : inline-block;
    float : left;
}

.clear {
    clear: both;
}

.img-container {
    overflow : hidden;
}

.img-container img {
    width : 100%;
}

.intro .text {
    display : inline-block;
    line-height : 1.5;
    margin-left : 5%;
    width : 39%;
    text-align : justify;
    padding : 16px;
    font-size : 20px;
}

.intro .img-container {
    width : 50%;
    display : inline-block;
    border-radius : 16px;
    height : 228px;
}

.title,
.sub-title {
    text-align : center;
}

.title {
    color: #80302a;
}

.sub-title {
    font-weight : 400;
    padding : 0 64px;
}

.margin-top-small {
    margin-top : 16px;
}

.margin-top-medium {
    margin-top : 48px;
}

.margin-top-large {
    margin-top : 160px;
}

.card {
    max-width : 250px;
    margin : 16px;
    padding-top : 1.5rem;
}

.card .title,
.card .descr,
.card .price {
    margin-top : 16px;
}

.card .price {
    text-align : center;
    color : #c53d33;
    font-weight : 700;
}

.card .descr {
    text-align : justify;
}

.card .img-container {
   border-radius : 8px;
   max-height : 148px;
}

.features {
    height : 180px;
}

.features .card {
    background-color : rgba(0, 0, 0, 0.1);
    border-radius : 8px;
    height : 100%;
}

.features .card h3 {
    text-align : center;
}

.features .card p {
    text-align : center;
    padding : 14px;
    line-height : 1.5;
}

.logo {
    width : 480px;    
    margin-right : auto;
    margin-left : auto;
}

.logo img {
    width : 100%;
}


label {
    margin-top: 1em;
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    margin-top: 1em;
    font: 1em sans-serif;

    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: 1px solid #999;
}

textarea {
    vertical-align: top;

    height: 5em;

}

.formulario h1 {
    margin-top: 120px;
    text-align: center;
    color: #80302a;    

}

.formulario {
    display: flex;
    float: left;
    margin-bottom: 180px;
}


.formulario img {
    margin-top: 120px;
    margin-left: 150px;
    height: 300px;
    
}

.formulario button {
    margin-left: 260px;
}

.footer {
    float : left;
    padding: 50px;
    background-color: #5f3e2a;
}

.l-footer,
.r-footer {
    display : inline-block;
    width : 40%;
}

.r-footer {
    margin-left : 19%;
    text-align : right;
}

.r-footer > li {
    display : inline-block;
}

.l-footer img {
    width: 50%;
}

.footer h3 {
    font-weight: 500;
    font-size: 20px;
    margin : 16px;
    color: #fff;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.box a,
.footer li {
    color: #dfdddd;
}

.b-footer {
    text-align: center;
    color: #0e0a14ef;
    padding-top: 50px;
}

.l-footer p {
    padding-right: 20%;
    color: #dfdddd;
}   

