/* 
 * Cores
 * https://coolors.co/9c914f-748e54-202c39-80302a-283845 
 *
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin : 0;
    padding : 0;
}

body {
    background-color: #d3aa51dc;
    font-family : 'Roboto', sans-serif;
    color : #283845;
}

a {
    text-decoration : none;
    color : #202C39;
    margin : 1rem;
}

nav {
    text-align : right;
    font-size : 20px;
}

#cardapio > .title {
    float : left;
    width : 100%;
}

.container {
    margin : 0 auto;
    max-width : 920px;
}

.row {
    margin : 0 auto;
    width : fit-content;
    clear: both;
}

.row .card {
    display : inline-block;
    float : left;
}

.clear {
    clear: both;
}

.img-container {
    overflow : hidden;
}

.img-container img {
    width : 100%;
}

.img-intro {
    height : 420px;
    border-radius : 32px;
}

.title,
.sub-title {
    text-align : center;
}

.title {
    color: #80302a;
}

.sub-title {
    font-weight : 400;
    padding : 0 64px;
}

.margin-top-small {
    margin-top : 16px;
}

.margin-top-medium {
    margin-top : 48px;
}


.margin-top-large {
    margin-top : 160px;
}

.card {
    max-width : 250px;
    margin : 16px;
    padding-top : 1.5rem;
}

.card .title,
.card .descr,
.card .price {
    margin-top : 16px;
}

.card .descr {
    text-align : justify;
}

.card .img-container {
   border-radius : 8px;
   max-height : 148px;
}

.features .card {
    background-color : rgba(0, 0, 0, 0.1);
    border-radius : 8px;
    height : 148px;
}

.features .card h3 {
    text-align : center;
}

.features .card p {
    text-align : center;
    padding : 14px;
    line-height : 1.5;
}

.logo {
    width : 480px;    
    margin-right : auto;
    margin-left : auto;
}

.logo img {
    width : 100%;
}

.footer {
display: flex;
flex-flow: row wrap;
padding: 50px;
color: #fff;
background-color: #5f3e2a;
}

.footer > * {
flex:  1 100%;
}

.l-footer {
margin-right: 1.25em;
margin-bottom: 2em;
}
.l-footer img{
    width: 40%;
}
h3 {
margin-left: 13px;
font-weight: 500;
font-size: 20px;
}

.footer ul {
list-style: none;
padding-left: 0;
}

.footer li {
line-height: 2em;
}

.footer a {
text-decoration: none;
}

.r-footer {
display: flex;
flex-flow: row wrap;
}

.r-footer > * {
flex: 1 100%;
margin-right: 10em;
}

.box a {
color: #dfdddd;
}

.h-box {
column-count: 1;
column-gap: .25em;
}

.b-footer {
text-align: center;
color: #0e0a14ef;
padding-top: 50px;
}

.l-footer p {
padding-right: 20%;
color: #dfdddd;
}   

@media screen and (min-width: 600px) {
.r-footer > * {
flex: 1;
}

.features {
flex-grow: 2;
}

.l-footer {
flex: 1 0px;
}

.r-footer {
flex: 2 0px;
}
}
